<a href="https://colab.research.google.com/github/DAUN3046/BAEKJOON/blob/master/%ED%94%84%EB%A6%AC%EB%A0%89_%EB%B9%85%EB%B6%84%EA%B8%B0%EC%8B%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 데이터 준비하기: 데이터 로드


## 데이터 가져오기

In [2]:
# 데이터 로드
import pandas as pd
data = pd.read_csv('mtcars.csv')

## 데이터 둘러보기

In [3]:
# 상위 5개 데이터 출력
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs      am  gear carb
0          Mazda RX4  21.0  6.0  160.0  110  ...  16.46   0  manual     4    4
1      Mazda RX4 Wag  21.0  6.0  160.0  110  ...  17.02   0  manual     4    4
2         Datsun 710  22.8  4.0  108.0   93  ...  18.61   1  manual     4    1
3     Hornet 4 Drive  21.4  6.0  258.0  110  ...   0.10   1    auto     3    1
4  Hornet Sportabout  18.7  8.0  360.0  175  ...  17.02   0    auto     3    2

[5 rows x 12 columns]

### 데이터 모양 확인하기: shape

In [4]:
print(data.shape) # 변수의 행/열 확인하기

(32, 12)

### 데이터 타입 확인하기: type()

In [5]:
print(type(data)) # 데이터 타입 확인하기

<class 'pandas.core.frame.DataFrame'>

### 데이터의 열 확인하기: columns

In [6]:
print(data.columns) # 데이터 열 확인하기

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

### 기초통계량 구하기: describe()

In [7]:
print(data.describe()) # 데이터 기초통계랑 구하기

             mpg        cyl        disp  ...        qsec         vs     carb
count  32.000000  30.000000   32.000000  ...   31.000000  32.000000  32.0000
mean   20.090625   7.600000  230.721875  ...   19.866774   0.437500   2.8125
std     6.026948   8.194195  123.938694  ...   15.310469   0.504016   1.6152
min    10.400000   4.000000   71.100000  ...    0.100000   0.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   16.785000   0.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   17.600000   0.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   18.755000   1.000000   4.0000
max    33.900000  50.000000  472.000000  ...  100.000000   1.000000   8.0000

[8 rows x 9 columns]

### 데이터 중복 제거하기: unique()

In [8]:
print(data['hp'].describe()) # hp 수치형 변수의 기초통계량 구하기

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [9]:
print(data['am'].unique()) # am 칼럼에서 중복 제거한 값들 구하기

['manual' 'auto']

### 요약 정보 확인하기: info()

In [10]:
print(data.info()) # 데이터 요약정보 구하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

### 상관관계 구하기: corr()

In [11]:
print(data.corr()) # 상관관계 구하기

           mpg       cyl      disp  ...      qsec        vs      carb
mpg   1.000000 -0.460227 -0.847551  ...  0.013668  0.664039 -0.550925
cyl  -0.460227  1.000000  0.544876  ... -0.012755 -0.323960  0.239980
disp -0.847551  0.544876  1.000000  ...  0.181810 -0.710416  0.394977
hp   -0.776168  0.323293  0.790949  ...  0.010807 -0.723097  0.749812
drat  0.681172 -0.372671 -0.710214  ... -0.120283  0.440278 -0.090790
wt   -0.867659  0.533690  0.887980  ...  0.093900 -0.554916  0.427606
qsec  0.013668 -0.012755  0.181810  ...  1.000000 -0.112146 -0.120312
vs    0.664039 -0.323960 -0.710416  ... -0.112146  1.000000 -0.569607
carb -0.550925  0.239980  0.394977  ... -0.120312 -0.569607  1.000000

[9 rows x 9 columns]

## 종속변수와 독립변수 분리하기

In [12]:
X = data.drop(columns='mpg') # 독립변수 만들기
y = data['mpg'] # 종속변수 만들기

In [13]:
print(X.head()) # 독립변수 X의 상위 5개 행 확인

          Unnamed: 0  cyl   disp   hp  drat  ...   qsec  vs      am gear carb
0          Mazda RX4  6.0  160.0  110  3.90  ...  16.46   0  manual    4    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  ...  17.02   0  manual    4    4
2         Datsun 710  4.0  108.0   93  3.85  ...  18.61   1  manual    4    1
3     Hornet 4 Drive  6.0  258.0  110  3.08  ...   0.10   1    auto    3    1
4  Hornet Sportabout  8.0  360.0  175  3.15  ...  17.02   0    auto    3    2

[5 rows x 11 columns]

In [14]:
print(y.head()) # 종속변수 y의 상위 5개 행 확인

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

# 2.2 데이터를 관찰하고 가공하기: 전처리

## 불필요한 열 삭제하기

In [15]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat  ...   qsec  vs      am gear carb
0          Mazda RX4  6.0  160.0  110  3.90  ...  16.46   0  manual    4    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  ...  17.02   0  manual    4    4
2         Datsun 710  4.0  108.0   93  3.85  ...  18.61   1  manual    4    1
3     Hornet 4 Drive  6.0  258.0  110  3.08  ...   0.10   1    auto    3    1
4  Hornet Sportabout  8.0  360.0  175  3.15  ...  17.02   0    auto    3    2

[5 rows x 11 columns]

자동차 모델명의 의미를 지닌 Unnamed: 0 열은 분석에 필요없는 열이므로 삭제한다.

In [16]:
X = X.iloc[:, 1:]
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

## 결측값 처리하기

### 결측치 여부 확인하기

In [18]:
X.isnull().sum()

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

### 평균값으로 대치하기

In [19]:
# cyl 열의 평균값을 X_cyl_mean 변수에 저장하기
X_cyl_mean = X['cyl'].mean()
print(X_cyl_mean)

7.6

In [21]:
# cyl 열의 결측치를 X_cyl_mean 값으로 채운 후, 다시 cyl 변수에 저장하기
X['cyl'] = X['cyl'].fillna(X_cyl_mean)
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

### 중위값으로 대치하기

In [20]:
# qsec열의 중위값을 X_qsec_median 변수에 저장하기
X_qsec_median = X['qsec'].median()
print(X_qsec_median)

17.6

In [22]:
# qsec 열의 결측치를 중위값으로 대치하기
X['qsec'] = X['qsec'].fillna(X_qsec_median)
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

## 잘못된 값을 올바르게 바꾸기

In [23]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [24]:
# gear 열의 '*3'은 '3'으로, '*5'는 '5'로 바꾼 경우의 값 확인하기
print(X['gear'].replace('*3','3').replace('*5','5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [25]:
# gear 열의 '*3'은 '3'으로, '*5'는 '5'로 바꾼 결과를 gear 열에 저장하기
X['gear'] = X['gear'].replace('*3','3').replace('*5','5')

In [26]:
# gear 열에서 중복되지 않은 값들을 확인하기
print(X['gear'].unique())

['4' '3' '5']

## 이상값 처리하기

### 사분범위(IQR) 활용하기

In [27]:
# X 변수의 기초 통계량을 구한 후, X_describe 변수에 저장하기
X_describe = X.describe()
print(X.describe)

<bound method NDFrame.describe of      cyl   disp   hp  drat     wt    qsec  vs      am gear  carb
0    6.0  160.0  110  3.90  2.620   16.46   0  manual    4     4
1    6.0  160.0  110  3.90  2.875   17.02   0  manual    4     4
2    4.0  108.0   93  3.85  2.320   18.61   1  manual    4     1
3    6.0  258.0  110  3.08  3.215    0.10   1    auto    3     1
4    8.0  360.0  175  3.15  3.440   17.02   0    auto    3     2
5    6.0  225.0  105  2.76  3.460   20.22   1    auto    3     1
6    8.0  360.0  245  3.21  3.570   15.84   0    auto    3     4
7    7.6  146.7   62  3.69  3.190   20.00   1    auto    4     2
8    4.0  140.8   95  3.92  3.150   22.90   1    auto    4     2
9    6.0  167.6  123  3.92  3.440   18.30   1    auto    4     4
10   6.0  167.6  123  3.92  3.440   17.60   1    auto    4     4
11   8.0  275.8  180  3.07  4.070   17.40   0    auto    3     3
12   8.0  275.8  180  3.07  3.730   17.60   0    auto    3     3
13   8.0  275.8  180  3.07  3.780   18.00   0    auto    3     3
14  50.0  472.0  205  2.93  5.250   17.98   0    auto    3     4
15   8.0  460.0  215  3.00  5.424   17.82   0    auto    3     4
16   8.0  440.0  230  3.23  5.345   17.42   0    auto    3     4
17   4.0   78.7   66  4.08  2.200   19.47   1  manual    4     1
18   4.0   75.7   52  4.93  1.615   18.52   1  manual    4     2
19   4.0   71.1   65  4.22  1.835   19.90   1  manual    4     1
20   4.0  120.1   97  3.70  2.465   20.01   1    auto    3     1
21   8.0  318.0  150  2.76  3.520   16.87   0    auto    3     2
22   8.0  304.0  150  3.15  3.435   17.30   0    auto    3     2
23   8.0  350.0  245  3.73  3.840   15.41   0    auto    3     4
24   7.6  400.0  175  3.08  3.845  100.00   0    auto    3     2
25   4.0   79.0   66  4.08  1.935   18.90   1  manual    4     1
26   4.0  120.3   91  4.43  2.140   16.70   0  manual    5     2
27   4.0   95.1  113  3.77  1.513   16.90   1  manual    5     2
28   8.0  351.0  264  4.22  3.170   14.50   0  manual    5     4
29   6.0  145.0  175  3.62  2.770   15.50   0  manual    5     6
30   8.0  301.0  335  3.54  3.570   14.60   0  manual    5     8
31   4.0  121.0  109  4.11  2.780   18.60   1  manual    4     2>